In [ ]:
#!pip install pandas

^C

Requirement already satisfied: pandas in c:\users\leona\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\leona\miniconda3\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leona\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\leona\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leona\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\leona\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [28]:
import pandas as pd
import numpy as np

### Lectura de archivo

In [6]:
df = pd.read_csv('dataset.csv')
df

,modelo,año_registro,km_recorridos,kilometraje(kmpl),caballos_fuerza,precio_dolares(miles)
0,2017 Mercedes-Benz S-Class S400,jul-17,56000,7.81,394,63.75
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,30615,17.40,118,8.99
2,2018 BMW X1 sDrive 20d xLine,Sep-18,24000,20.68,144,23.75
3,2019 Kia Seltos GTX Plus,Dec-19,18378,16.50,367,13.56
4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,44900,14.67,141,24.00
...,...,...,...,...,...,...
495,2016 BMW X1 sDrive 20d xLine,jul-16,70000,20.68,302,15.50
496,2019 Kia Seltos GTX Plus DCT,nov-19,85540,16.50,287,13.86
497,2023 Mahindra XUV300 W6 Turbo,2023,10000,11.97,356,11.70
498,2019 Maruti Baleno Alpha,mar-19,50170,21.01,157,6.87
499,2020 BMW X7 xDrive30d DPE Signature,jul-20,44000,13.38,219,98.50

### Analisis de Archivo

In [7]:
df.describe()

,km_recorridos,kilometraje(kmpl),caballos_fuerza,precio_dolares(miles)
count,500.000000,500.000000,500.000000,500.00000
mean,48145.280000,17.567660,246.396000,297.26080
std,26916.506686,8.453698,86.890247,4421.69376
min,620.000000,7.810000,100.000000,1.09000
25%,30000.000000,14.285000,172.750000,5.42250
50%,46926.500000,17.800000,246.000000,9.27500
75%,64000.000000,19.950000,320.000000,22.50000
max,154000.000000,147.510000,400.000000,70000.00000

### Extraccion y transformacion de informacion

In [21]:
modelo = df['modelo'].to_numpy()
km_recorridos = df['km_recorridos'].to_numpy()
kilometraje = df['kilometraje(kmpl)'].to_numpy()
caballos_fuerza = df['caballos_fuerza'].to_numpy()
precio_dolares = df['precio_dolares(miles)'].to_numpy()

In [ ]:
anho_registro_raw = df['año_registro']
anho_registro = np.array([])

#Pasa por cada valor de la columna
for item in anho_registro_raw:
    try: #Intenta convertirlo del formato mes-año abreviados a datetime (%b significa mes abreviado)
        anho_registro = np.append(anho_registro,pd.to_datetime(item.lower(), format='%b-%y'))
    except: #Si falla, intenta el otro formato que consiste el año completo
        anho_registro = np.append(anho_registro,pd.to_datetime(item.lower(), format='%Y'))

### Entrenamiento del modelo y lógica